# flyctl launch added from .gitignore
**/target
**/.vscode
**/*.class
**/*.jar
**/*.log
**/.env
**/db.properties
**/.DS_Store
**/*.iml
**/.idea
**/src/main/resources/application.properties
**/dependency-reduced-pom.xml
**/application.properties
**/application-*.properties
**/.git
**/Obsidian
**/docs
**/README.md
**/schema.sql
**/PASSO_*.md
**/*.md